<%- include partials/_header%>
<h1>Welcome to TinyApp!!!</h1>
<div class="jumbotron">
<h3>Registration:</h3>
<form method="POST" action="/register">
  <table>
    <tr>
      <td><label>Email: </label></td>
      <td><input type="email" name="email" placeholder="user@example.com"></td>
    </tr>
    <tr>
      <td><label>Password: </label></td>
      <td><input type="password" name="password" placeholder="password"></td>
    </tr>
    <tr>
      <td><button class="btn btn-success">Submit</button></td>
    </tr>
  </table>


</form>

</div>
<p>Already have an account? Login <a href="/login">here</a></p>